.container_actions {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.container_table {
    overflow: auto;
}

.actions-cell {
  white-space: nowrap;
}

.actions-cell {
  white-space: nowrap;
}

.actions-cell button + button {
  margin-left: 0.25rem;
}
