/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
  text-decoration: none;
  color: #007bc4;
}
a:hover {
  text-decoration: underline;
}

.mat-mdc-dialog-surface.mdc-dialog__surface {
    border-radius: 0;
}
